<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Aplicación de gestión de peliculas</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Renta de peliculas</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a th:href="@{/peliculas}" th:text="'Peliculas'" class="nav-link active" aria-current="page" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/actores}" th:text="'Actores'" class="nav-link active" aria-current="page" href="#">Actores</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
    <br/>
    <div>
        <fieldset class="filtro rounded-2 px-3 py-2">
            <legend class="float-none w-auto px-2">Filtros</legend>
            <form th:action="@{/peliculas/search}" method="get" th:object="${filtroCurrent}">
                <div class="row">
                    <div class="col mb-3">
                        <input class="form-control" name="titulo" id="titulo" type="text" th:field="*{titulo}" placeholder="Ingresar titulo"  />
                    </div>
                    <div class="col mb-3">
                        <select class="form-select" th:field="*{autorId}" name="autorId">
                            <option value="0">Seleccionar actor</option>
                            <option th:each="el : ${actorList}" th:value="${el.id}" th:text="${el.user.nombre + ' ' + el.user.apellido}"></option>
                        </select>
                    </div>
                    <div class="col mb-3">
                        <select class="form-select" th:field="*{generoId}" name="generoId">
                            <option value="0">Seleccionar genero</option>
                            <option th:each="el : ${generoList}" th:value="${el.id}" th:text="${el.nombre}"></option>
                        </select>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-dark btn-sm">Buscar</button>
                    </div>

                </div>
            </form>
        </fieldset>
    </div>
    <div class="text-end py-1">
        <a th:href="@{/peliculas/nuevo  }" th:text="'Nuevo'" class="btn btn-primary btn-sm" role="button" title="Nueva el pelicula.">
            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
        </a>
    </div>
    <hr />
    <div class="row justify-content-between justify-content-evenly">
        <h3 style="margin-bottom: 25px;">Listado de peliculas</h3>
        <div class="card card_custom" th:each="el : ${dataList}">
            <div class="card-body justify-content-center">
                <div class="flex-column">
                    <h6 th:text="${el.titulo}"></h6>
                    <div class="portada">
                        <img th:class="img_portada" th:src="|data:image;base64,*{el.portada}|" th:alt="Portada" class="product-image">
                    </div>
                    <div class="data justify-content-end">
                        <p class="align-content-end" th:text="${el.duracion.toString() + ' min'}"></p>
                        <p th:text="${el.getGeneroStr()}"></p>
                        <p th:text="${el.getAutorStr()}"></p>
                        <a th:href="@{/peliculas/editar/{id}  (id=${el.id})  }" th:text="'Editar'" class="btn btn-success btn-sm" role="button" title="Editar el pelicula.">
                            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                        </a>
                        <a th:href="@{/peliculas/delete/{id}  (id=${el.id})   }" th:text="'Eliminar'" onclick="return confirm('¿Estas seguro?')" class="btn btn-danger btn-sm" role="button" title="Eliminar el pelicula.">
                            <i class="fas fa-trash" aria-hidden="true"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>