.img_portada {
    width: 200px;
    height: 250px;
    border: 1px solid var(--bs-gray-400);
}

.card_custom {
    width: 19rem;
    margin-bottom: 15px;
    text-align: center;
    border: 1px solid var(--bs-gray-dark) !important;
}

fieldset.filtro, fieldset.pelicula {
    border: 1px solid var(--bs-gray-500, black) !important;
    margin-bottom: 20px;
}

fieldset.filtro legend{
    font-size: 20px;
}

fieldset.pelicula legend{
    font-size: 16px;
}


.ldata {
    margin-top: 15px;
}

.ldata p {
    margin-right: 18px;
    background: darkblue;
    color: white;
}

span.delete-tooltip {
    cursor: pointer;
    border: 1px solid;
    padding: 5px 9px;
    background: white;
    color: darkblue;
    position: relative;
    top: 0px;
    left: 5px;
}

p span.ctoltip {
    font-size: 13px;
    font-weight: normal;
}

.valoracion input[type="radio"], .lblvaloracion input[type="radio"]{
    display: none;
}

.valoracion label, .lblvaloracion label {
    color: grey;
}

.valoracion, .lblvaloracion {
    direction: rtl;
    unicode-bidi: bidi-override;
    text-align: left;
}

.valoracion label:hover,
.valoracion label:hover ~ label {
    color: orange;
}

.valoracion input[type="radio"]:checked ~ label, .lblvaloracion input[type="radio"]:checked ~ label{
    color: orange;
}

@media screen and (max-width: 700px) {
    #contenedor-table {
        display: block !important;
    }
    .table-responsive {
        display: none;
    }
}

.table-responsive .table>:not(:first-child) {
    border-top: 2px solid currentColor;
}

/*Estilo para tabla con DIVs*/
#contenedor-table {
    display: none;
    margin: 0 auto;
}

.row-table-div {
    margin-bottom: 25px;
}

.col-nro-table {
    border-right: 3px solid black;
    text-align: left;
    font-weight: bold;
    min-width: 45px;
}

#contenedor-table div.row-table-div:nth-child(odd) {
    background-color: #f2f2f2;
}

.txt-value {
    padding-left: 20px;
}
/* Fin de estilo con tabla*/

.text-justify {
    text-align: justify !important;
}

