.img_portada {
    width: 200px;
    height: 250px;
    border: 1px solid var(--bs-gray-400);
}

.card_custom {
    width: 19rem;
    margin-bottom: 15px;
    text-align: center;
    border: 1px solid var(--bs-gray-dark) !important;
}

fieldset.filtro, fieldset.pelicula {
    border: 1px solid var(--bs-gray-500, black) !important;
    margin-bottom: 20px;
}

fieldset.filtro legend{
    font-size: 20px;
}

fieldset.pelicula legend{
    font-size: 16px;
}


.ldata {
    margin-top: 15px;
}

.ldata p {
    margin-right: 18px;
    background: darkblue;
    color: white;
}

span.delete-tooltip {
    cursor: pointer;
    border: 1px solid;
    padding: 5px 9px;
    background: white;
    color: darkblue;
    position: relative;
    top: 0px;
    left: 5px;
}

p span.ctoltip {
    font-size: 13px;
    font-weight: normal;
}
