<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Aplicación de gestión de peliculas</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container">
    <nav th:replace="~{menu :: menu}"></nav>
    <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
    <br/>

    <div class="text-end py-1">
        <a th:href="@{/actores/nuevo  }" th:text="'Nuevo'" class="btn btn-primary btn-sm" role="button" title="Nueva el pelicula.">
            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
        </a>
    </div>
    <hr />
    <div class="container row justify-content-between justify-content-evenly">
        <h3 style="margin-bottom: 25px;">Listado de actores</h3>
        <div class="card card_custom" th:each="el : ${dataList}">
            <div class="card-body justify-content-center">
                <div class="flex-column">
                    <div class="portada">
                        <img class="img_portada" alt="No Disponible" th:src="@{/img/actor.jpg}" />
                    </div>
                    <div class="data justify-content-end">
                        <p th:text="${el.nombre + ' ' + el.apellido}"></p>
                        <p th:text="${#dates.format(el.fechanacimiento, 'dd/MMMM/yyyy')}"></p>
                        <p th:text="${el.country.nombre}"></p>
                        <a th:href="@{/actores/editar/{id}  (id=${el.id})  }" th:text="'Editar'" class="btn btn-success btn-sm" role="button" title="Editar el pelicula.">
                            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                        </a>
                        <a th:href="@{/actores/delete/{id}  (id=${el.id})   }" th:text="'Eliminar'" onclick="return confirm('¿Estas seguro?')" class="btn btn-danger btn-sm" role="button" title="Eliminar el pelicula.">
                            <i class="fas fa-trash" aria-hidden="true"></i></a>
                    </div>
                </div>

            </div>
        </div>
        <div th:if="${dataList.size() == 0}" class="text-center text-danger py-2" style="border-top: 2px solid black;">No hay registros para mostrar!</div>
    </div>
</div>
</body>
</html>