<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>CursosApp | Aplicación de gestión de cursos</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container">

    <div class="card">
        <h2 th:text="${titulo}" class="card-header"></h2>
        <div class="card-body">
            <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
            <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Identificador</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Duración</th>
                    <th scope="col">Profesor</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Categoría</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="curso : ${listadoCursos}">
                    <td th:text="${curso.id}"></td>
                    <td th:text="${curso.nombre}"></td>
                    <td th:text="${curso.duracion}"></td>
                    <td th:text="${curso.profesor}"></td>
                    <td th:text="${curso.precio}"></td>
                    <td th:text="${curso.categoria}"></td>
                    <td>
                        <a th:href="@{/cursos/editar/{id}  (id=${curso.id})  }" th:text="'editar'" class="btn btn-success btn-sm" role="button" title="Editar el curso."><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                        <a th:href="@{/cursos/borrar/{id}  (id=${curso.id})   }" th:text="'borrar'" onclick="return confirm('¿Estas seguro?')" class="btn btn-danger btn-sm" role="button" title="Eliminar el curso."><i class="fas fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>

                </tbody>
            </table>

            <nav th:replace="~{paginator-nav :: paginator}"></nav>

        </div>
    </div>
    <hr>
    <a class="btn btn-primary" role="button" th:href="@{/cursos/}">Ir a Inicio</a>
</div> <!-- /container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>