<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>CursosApp | Aplicación de gestión de cursos</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h2 class="text-secondary border border-success border-top-0 border-left-0 border-right-0">Búsqueda de Cursos</h2>
    <form th:action="@{/cursos/nombre}" method="get">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre"
                   placeholder="Escriba el nombre del curso">
        </div>
        <button type="submit" class="btn btn-success">Buscar por Nombre</button>
    </form>
    <hr>
    <form th:action="@{/cursos/categoria}" method="get">
        <div class="mb-3">
            <select class="form-select" name="categoria" id="categoria">
                <!--                 <option selected>Seleccionar categoría</option> -->
                <option th:value="Desarrollo">Desarrollo</option>
                <option th:value="Informática">Informática</option>
                <option th:value="Educación">Educación</option>
                <option th:value="Finanzas">Finanzas</option>
                <option th:value="Marketing">Marketing</option>
                <option th:value="Salud">Salud</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success">Buscar por Categoría</button>
    </form>
    <hr>
    <form th:action="@{/cursos/profesor}" method="get">
        <div class="mb-3">
            <label for="profesor" class="form-label">Nombre del Profesor</label>
            <input type="text" class="form-control" id="profesor" name="profesor"
                   placeholder="Escriba el nombre del profesor del curso">
        </div>
        <button type="submit" class="btn btn-success">Buscar por Profesor</button>
    </form>

    <hr>
    <a class="btn btn-primary" role="button" th:href="@{/cursos}">Ir a Inicio</a>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>